body {
	font-family: Tahoma;
}
.wrapper {
	width: 865px;
	height: 342px;
}
.border-box {
	border: 7px;
	width: 720px;
	height: 280px;
	border-left: 7px dashed #FF0000;
	border-top: 7px dotted #FFFF00;
	border-right: 14px outset #10E410;
	border-bottom: 10px double #0000FF;
	box-shadow: 20px 20px 11px #3F3D3D;
}
.heading {
	text-align: left;
	width: 100%;
	font-size: 52px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	padding-top: 20px;
	padding-left: 40px;
	text-shadow: 14px 13px 10px #AFAFAF;
}
.inside-border-box {
	border:3px solid red;
	border-radius: 60px;
	width: 640px;
	height: 125px;
	margin-top: 35px;
	margin-left: 39px;
	box-shadow:
	0 0 0 4px hsl(62, 100%, 52%),
	0 0 0 7px hsl(120, 82%, 29%),
	0 0 0 10px hsl(245, 79%, 50%);

}
.sample {
	font-family: Tahoma;
	font-size: 23px;
	text-align: center;
	text-shadow: 14px 13px 10px #AFAFAF;
}
.inputs {
	margin-left: 80px;
}
input[type=text] {
	width: 210px;
	height: 22px;
	text-align: center;
	border-top-style: inset;
	border-bottom-style: inset;
	border-color: #D8921A;
	background-color: #D8921A;
	border-width: 5px;
	color: black;

}
::-webkit-input-placeholder {
	color: black;
	font-family: Tahoma;
	font-size: 18px;
	padding-bottom: 100px;
}
::-moz-placeholder {  /* Firefox 19+ */
	color: black;
	font-family: Tahoma;
	font-size: 18px;
	padding-bottom: 100px;
}