body {
	font-family: 'PT Sans', Tahoma, sans-serif;
	color: #333;
	background-color: #eee;
}
h2 h5 {
	font-weight: 700;
	color: #234465;
}
div {
	display: block;
}
h2 {
	color: #234465;
}

.formTitle {
	font-size: 16px;
	color: #234465;
	text-transform: uppercase;
	font-weight: bold;
	height: 1px;
}
label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 700;

}
.contact-form label {
	position: relative;
	overflow: hidden;
	display: block;
	height: 40px;
}
.contact-form {
	width: 340px;
	height: 268px;
	float: left;
	padding-left: 5px;
}
.contact-form label input {
	width: 300px;
	height: 30px;
	padding-left: 10px;
}
input.signUp {
	border: solid 2px #234465;
	height: 30px;
	width: 40%;
	float: right;
	color: #333;
	background: none;
}

.buttonRow {
	padding-right: 11px;
}
.loginRow {
	padding-right: 25px;
	padding-bottom: 60px;
	background: none;


}
.forgotPass {
	float: right;
	padding-right: 25px;
	font-size: 15px;
	margin: 0px;
}
input.login {
	font-family: Arial, Helvetica, sans-serif;
	border: 2px solid #FF9C00;
	height: 35px;
	width: 110px;
	float: right;
	background: none;
	color: white;

}
.register-menu {
	padding-left: 15px;
}
.register {
	color: #234465;
}

.login-form {
	background: #234465;
	width: 340px;
	height: 270px;
	float: left;
	color: white;
	margin: auto;
	padding-left: 15px;


}
.login-form label {
	position: relative;
	overflow: hidden;
	display: block;
	height: 40px;

}
.login-form label input {
	width: 300px;
	height: 25px;
	padding-left: 10px;
}
.login-form p {
	margin: 0px;
}
